/*
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.opensans {
    font-family: "Open Sans", sans-serif;
}*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --black: #212121;
    --green: #09A494;
    --white: #FFFFFF;
}

body {
    color: var(--black);
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

footer {
    color: var(--white);
    background-color: var(--black);
}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
}

.subtitle {
    font-size: 38px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--green);
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

p {

}

a {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: var(--green);
}
a:hover {
    text-decoration: none;
}

.info {

}

.main-header {
    padding: 60px 0px 0px;
}

.main-header .main-logo {

}

.main-nav li {
    display: inline-block;
}

.main-nav a {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: var(--black);
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    line-height: 1;
}

.main-nav a:hover {
    color: var(--green);
}

.main-photo {
    border-radius: 50%;
}

.skills-buttons {
    padding: 0px;
}

button {
    border: none;
    cursor: pointer;
    text-transform: lowercase;
    box-sizing: border-box;
    padding: 6px 10px 10px;
    border: 1px solid var(--green);
    border-radius: 8px;
    color: var(--green);
    line-height: 1;
    background-color: transparent;
}

button:hover {
    color: var(--white);
    background-color: var(--green);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social-link {
    display: block;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #09A494;
    border-radius: 50%;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover {
    background-color: var(--green);
}

.social-link_github {
    background-image: url("../img/contacts/github.svg");
}

.social-link_telegram {
    background-image: url("../img/contacts/telegram.svg");
}

.contact {
    padding: 0;
}

.contact li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.contact-link {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    color: var(--black);
    padding: 0px;
    background-repeat: no-repeat;
    background-position: left;
}

.contact-link:hover {
    text-decoration: none;
    color: var(--green);
}

.contact-link_phone {
    padding: 5px 0px 5px 42px;
    background-image: url("../img/contacts/phone.svg");
}

.contact-link_email {
    padding: 5px 0px 5px 42px;
    background-image: url("../img/contacts/email.svg");    
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}
.skill-level {
    margin: 4px 0 16px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}

.skill-level div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
}

.skill-item {
    text-transform: lowercase;
}

.skill-item_cpp {
    background-image: url("../img/skills/c++.svg");
}

.skill-item_golang {
    background-image: url("../img/skills/golang.svg");
}

.skill-item_js {
    background-image: url("../img/skills/javascript.svg");
}

.skill-item_html {
    background-image: url("../img/skills/html.svg");
}

.skill-item_css {
    background-image: url("../img/skills/css.svg");
}